#petits_contenants{

    h3{
        color: white;
        font-weight: lighter;
        font-size: 20px;
        font-weight: 200;
    }

    .verre{
        width: 50px;
        height: 100px;
        border-radius: 0px 0px 15px 15px;
        font-size: 12px;
        cursor: pointer;
    }

}